In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('/content/train.csv')
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [3]:
df = df.dropna(how='any')
df = df.reset_index(drop=True)
df.to_csv('cleanset.csv', index=False)

In [4]:
df= pd.read_csv('/content/cleanset.csv')
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
4,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
810,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
811,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
812,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
813,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75

In [8]:
df['Mileage'] = df['Mileage'].str.replace(' kmpl', '', regex=False)
df['Mileage'] = df['Mileage'].str.replace(' km/kg', '', regex=False)
df['Engine'] = df['Engine'].str.replace(' CC', '', regex=False)
df['Power'] = df['Power'].str.replace(' bhp', '', regex=False)
df['New_Price'] = df['New_Price'].str.replace(' Lakh', '', regex=False)
df['New_Price'] = df['New_Price'].str.replace(' Cr', '', regex=False)
df.to_csv('cleanset.csv', index=False)

In [6]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13,1199,88.7,5.0,8.61,4.50
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.5,8.0,21,17.50
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5.0,10.65,9.95
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5,2477,175.56,7.0,32.01,15.00
4,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190,5.0,47.87,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193,88.7,5.0,7.77,4.00
810,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598,103.5,5.0,11.91,3.25
811,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3,1248,88.5,5.0,9.93,7.43
812,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5,1198,86.8,5.0,6.63,3.20
813,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4,1248,74,5.0,7.88,4.75

In [7]:
df_encoded = pd.get_dummies(df, columns=["Transmission", "Fuel_Type"])
df_encoded.to_csv('onehotencode.csv', index=False)
df_encoded

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Transmission_Automatic,Transmission_Manual,Fuel_Type_Diesel,Fuel_Type_Petrol
0,2,Honda Jazz V,Chennai,2011,46000,First,13,1199,88.7,5.0,8.61,4.50,0,1,0,1
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.5,8.0,21,17.50,1,0,1,0
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,0,1,0,1
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.5,2477,175.56,7.0,32.01,15.00,0,1,1,0
4,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190,5.0,47.87,18.55,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57,1193,88.7,5.0,7.77,4.00,0,1,0,1
810,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09,1598,103.5,5.0,11.91,3.25,0,1,0,1
811,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.3,1248,88.5,5.0,9.93,7.43,0,1,1,0
812,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.5,1198,86.8,5.0,6.63,3.20,0,1,0,1
813,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.4,1248,74,5.0,7.88,4.75,0,1,1,0

In [9]:
df= pd.read_csv('/content/cleanset.csv')
df['New_Price'] = df['New_Price'].astype(float)
df['Price'] = df['Price'].astype(float)
df['Price_Chng'] = ((df['New_Price']) - (df['Price'])).round(2)
df['Current_Age'] = (2023) - (df['Year'])
df['Gas_Money'] = ((1.16) * ((df['Kilometers_Driven'] / df['Mileage'] ))).round(2)
df['CC_to_L'] = (df['Engine']) / (1000)
df.to_csv('manipulatedset.csv', index=False)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Price_Chng,Current_Age,Gas_Money,CC_to_L
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5.0,8.61,4.50,4.11,12,4104.62,1.199
1,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.50,8.0,21.00,17.50,3.50,7,3676.06,2.755
2,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5.0,10.65,9.95,0.70,5,1382.32,1.462
3,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477,175.56,7.0,32.01,15.00,17.01,9,9451.85,2.477
4,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190.00,5.0,47.87,18.55,29.32,9,1686.17,1.995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193,88.70,5.0,7.77,4.00,3.77,7,660.22,1.193
810,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598,103.50,5.0,11.91,3.25,8.66,12,2739.59,1.598
811,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.30,1248,88.50,5.0,9.93,7.43,2.50,7,1776.18,1.248
812,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.50,1198,86.80,5.0,6.63,3.20,3.43,10,2115.97,1.198
813,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5.0,7.88,4.75,3.13,9,1117.73,1.248